@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

#root,
body,
html {
  height: 100%;
  margin: 0;
  font-family: 'B612', sans-serif !important;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/background.jpg);
  background-size: cover;
}
